  <hr />

  {{#if comments}}
      {{#comments}}
      <div class="row-fluid hullstrap-comment-box">
        
        <div class="span2">
          <img src="{{user.picture}}" alt="{{user.name}}" class="img-rounded">
        </div>

        <div class="span10 hullstrap-activity-box">
          <h5>{{user.name}} <small>{{fromNow updated_at}}</small></h5>
          <p>{{description}}</p>
        </div>        

      </div>
      {{/comments}}
  {{/if}}

  {{^comments}}

  {{/comments}}

  {{#if loggedIn}}
          <div class="row-fluid">
          <div class="span11">
          <hr />
          </div>
          <div class="span9">
            <textarea class="comment-box" rows="1" placeholder="Comment on this..."></textarea>
    
          </div>
          <div class="span2">
              <button data-hull-action="comment" class="btn">Comment</button>
          </div>
    {{else}}
      <div data-hull-widget="identity_compact"></div>
    {{/if}}
</div>