{{#if loggedIn}}
  {{#lists}}
  <div class="row-fluid">
    <div class="span12">
    <h3>{{name}}</h3>

    <ul>
      {{#items}}
        <li>         
            <span class="hull-loz">{{type}}</span> <strong>{{name}}</strong> {{description}}
        </li>
      {{/items}}
      {{^items}}
        <li>
            Empty Collection
        </li>
      {{/items}}
    </ul>
    </div>
    </div>
  {{/lists}}
  {{^lists}}
    <div class="hull-empty">
      <h4>oops... no lists for the moment</h4>
    </div>
  {{/lists}}

    <div class="row-fluid">
    <div class="span2">
      <button id="createListShow" class="btn btn-success">Create a New List</button>
    </div>

    </div>

        <div id="createListForm" class="row-fluid hide">
    <div class="span12">
      <h3 class="hull-lists__form__title">Add Item</h3>
  <hr />

  <form>
    <label>Name:</label>
    <input name="name" type="text" placeholder="Type something…">
    <label for="description">Description:</label>
    <input type="text" name="description">
    <hr />
    <input type="submit" class="btn btn-submit">
</form>
    </div>

    </div>

{{else}}
  <div data-hull-widget="identity"></div>
{{/if}}