<div class="hull-pager">
  <hr />
    <div class="pagination">
      <ul>
        <li><a href="#" data-hull-action="previousPage">&larr; Previous</a></li>
        <li><a href="#" data-hull-action="nextPage">Next &rarr;</a></li>
      </ul>
    </div>
  <hr />
  
</div>


  {{#activities}}
  <div class="row-fluid">
  <div class="span2">
      {{#if actor.picture}}
            <img src="{{actor.picture}}" class="img-rounded"/>
      {{/if}}
  </div>


      <div class="span10 hullstrap-activity-box">
        <h5>{{actor.name}} {{verb}}  {{object.type}} - {{object.name}} <small>{{fromNow published}}</small></h5>
        <hr />
         {{#object}}
             <img src="{{imageUrl id "original"}}"/>
             <p>{{name}}</p>              
         {{/object}}

          {{#if content}}
               {{content}}
          
          {{/if}}

    </div>
  </div>

  {{/activities}}
  {{#if activities}}
  <div class="row-fluid"> 
  <div class="span2 offset5">
      <button data-hull-action="fetchMore" class="btn btn-large">
        Fetch more...
      </button>
  </div>      
  </div>
  {{/if}}

{{^activities}}
<div class="hull-empty">
  No activity yet...
</div>
{{/activities}}