  {{#activities}}
  <div class="row-fluid">
  <div class="span2">
      {{#if actor.picture}}
            <img src="{{actor.picture}}" class="img-rounded"/>
      {{/if}}
  </div>


      <div class="span10 hullstrap-activity-box_compact">
        <h5>{{actor.name}} {{verb}}  {{object.type}} - {{object.name}} <small>{{fromNow published}}</small></h5>
        <hr />
         {{#object}}
         <a href="{{imageUrl id "original"}}">View Photo</a>
         <small>{{name}}</small>              
         {{/object}}

          {{#if content}}
              <p class='activity-small'>{{content}}</p>
          {{/if}}

    </div>
  </div>

  {{/activities}}
  {{#if activities}}
  <div class="row-fluid"> 
  <div class="span2 offset5">
      <button data-hull-action="fetchMore" class="btn btn-large">
        Fetch more...
      </button>
  </div>      
  </div>
  {{/if}}

{{^activities}}
<div class="hull-empty">
  No activity yet...
</div>
{{/activities}}