{{#if loggedIn}}

{{#if friends}}

        {{#friends}}

<div class="row-fluid hullstrap-friend-box_compact">
        
        <div class="span3">
          <a href="#/users/{{id}}"><img src="{{picture}}" class="img-rounded" alt="{{name}}></a>
        </div>

        <div class="span9">
          <p><a href="#/users/{{id}}">{{name}}</a></p>
          <small>Member Since {{fromNow created_at}}</small> 
            
        </div>
        <div class="span12"><hr />  </div>

      </div>
        {{/friends}}

{{/if}}

{{^friends}}
<h3>No Friends :(</h3>

{{/friends}}

{{else}}
  <div data-hull-widget="page_identity"></div>
{{/if}}