{{#if friends}}
  <div class="row-fluid>

        {{#friends}}
          <div class="span4">
            <div class="row-fluid hullstrap-friend-box">
          
          <div class="span4">
            <a href="#/users/{{id}}"><img src="{{picture}}" class="img-rounded" alt="{{name}}"></a>
          </div>

          <div class="span7">
            <h5><a href="#/users/{{id}}">{{name}}</a></h5>            
            <p><i class='icon-sign-blank'></i> <small>Member Since {{fromNow created_at}}</small></p>
          </div>

          </div>
      </div>
      {{/friends}}
  </div>
{{/if}}

{{^friends}}
  <div class="row">
      <div class="span12">
      <h3>Oh... no friends :(</h3>
      </div>
  </div>
{{/friends}}